/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   margin: 0;
   padding: 0;
 }
 body {
   margin: 0;
   padding: 0;
   background:  #fff;
 }
 .wrapper {
   width: 100%;
   height: auto;
   background:  #fff;
 }
 .container {
   margin: 0 auto;
   width: 1070px;
   padding-right: 15px;
   padding-left: 15px;
 }
.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(146, 59, 62);
}
ul.nav {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  width: 260px;
}
ul.nav li {
  float: left;
  display: block;
  height: 28px;
  margin: 0 12px;
  cursor: pointer;
}
ul.nav a {
  text-decoration: none;
  color: #000;
}
